.movie-card-wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: auto;
  min-width: 270px; }
  @media screen and (min-width: 768px) {
    .movie-card-wrp {
      justify-content: flex-start; } }
  .movie-card-wrp .movie-card-view {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    z-index: 1;
    width: 267px;
    height: 200px;
    box-shadow: 2px 3.5px 21px 0 rgba(0, 0, 0, 0.06);
    padding: 14px;
    background-color: white;
    margin: 5px; }
    @media screen and (min-width: 768px) {
      .movie-card-wrp .movie-card-view {
        width: 267px;
        height: 200px; } }
